<ngx-loading-bar height="4px"></ngx-loading-bar>
<div class="header pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-12">
                    <h2 class="text-dark">Selamat datang, User as Kakitangan!</h2>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <h6 class="h2 text-dark d-inline-block mb-0">Dashboard Kakitangan</h6>

                    <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class=" breadcrumb-item">
                                <a href="javascript:void(0)"> <i class="fas fa-home text-dark"> </i> </a>
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="col-lg-6 col-sm-12 text-right">
                    <!-- <a class="btn btn-sm btn-primary" (click)="openModal(achievementModal)">
						<div>
							<i class="fas fa-exclamation-circle text-white"></i> 
							<span class="text-white">Pencapaian</span>
						</div>
					</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-4">
            <div class=" card card-stats">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col">
                            <h5 class=" card-title text-uppercase text-muted mb-0">
                                Kursus didaftar
                            </h5>

                            <span class=" h1 font-weight-bold mb-0"> 6 </span>
                            <span class=" h3 font-weight-bold mb-0"> /10 </span>
                        </div>

                        <div class=" col-auto">
                            <div class=" icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class=" fas fa-file-alt"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class=" card card-stats">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col">
                            <h5 class=" card-title text-uppercase text-muted mb-0">
                                Peperiksaan dihadiri
                            </h5>

                            <span class=" h1 font-weight-bold mb-0"> 7 </span>
                            <span class=" h3 font-weight-bold mb-0"> /10 </span>
                        </div>

                        <div class=" col-auto">
                            <div class=" icon icon-shape bg-gradient-warning text-white rounded-circle shadow">
                                <i class=" fas fa-scroll"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class=" card card-stats">
                <div class=" card-body">
                    <div class=" row">
                        <div class=" col">
                            <h5 class=" card-title text-uppercase text-muted mb-0">
                                Peperiksaan dihadiri
                            </h5>

                            <span class=" h1 font-weight-bold mb-0"> 28 </span>
                            <span class=" h3 font-weight-bold mb-0"> /30 </span>
                        </div>

                        <div class=" col-auto">
                            <div class=" icon icon-shape bg-gradient-success text-white rounded-circle shadow">
                                <i class=" fas fa-calendar-day"> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="h3 mb-0">Graf Kursus</h5>
                </div>
                <div class="card-body">
                    <div class="chart">
                        <div class="amchart" id="ud4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>