  
.main-content{
    background-color: #939efc;
    // background-image: url('../../../assets/img/background/galaxy.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    //overflow: hidden;
}