// .logo-img{
//     width: 30%;
//     height: 30%;
// }

.navbar {
    padding: 5px !important;
    background-color: #075452;
  }
  
.sub-menu {
float: left;
display: block;
text-align: center;
}
  
.sub-menu .menu-title {
display: block;
margin-top: 2px;
}

.text-dgreen{
  color: darkgreen;
}